<div class="product_items">
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top"
                             src="{{ product.image.url }}"
                             alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'products:detail' product.id %}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                    {% if product.quantity == 0 %}
                        <div class="card-footer text-center">
                            <a class="btn btn-warning">Товар распродан</a>
                        </div>
                    {% endif %}
                    {% if product.id in product_in_basket %}
                        <div class="card-footer text-center">
                            <a href="{% url 'baskets:basket_remove_pr' product.id %}" class="btn btn-outline-danger">Удалить
                                из корзины</a>
                        </div>
                    {% else %}
                        <div class="product_add">
                            <div class="card-footer text-center">
                                <button type="button" class="btn btn-outline-success" name="{{ product.id }}">Отправить в
                                    корзину</button>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
</div>